<div class="col-xl-12 col-lg-12 col-12">
    <ngx-spinner></ngx-spinner>
    <div class="card shopping-cart">
        <div class="card-header pb-2">
            <h4 class="card-title mb-1">Manage Your Products</h4>
        </div>
        <div class="card-content">
        <div class="card-body p-0">
            <div class="table-responsive">
            <table class="table text-center m-0">
                <thead>
                <tr>
                    <th>Attachment</th>
                    <th>Product Name</th>
                    <!-- <th>Description</th>
                    <th>Specifications</th> -->
                    <!-- <th>Color</th> -->
                    <th>Qty</th>
                    <th>Retail Price</th>
                    <th>Sale Price</th>
                    <th>Status & Visibility</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let prod of products">
                    <td><img class="height-50 mr-1 mb-1" *ngFor="let img of prod.attachment" [src]="'http://127.0.0.1:8000/storage/'+img" alt={{prod.product_name}} /></td>
                    <td>{{prod.product_name}}</td>
                    <!-- <td>{{prod.description}}</td>
                    <td>{{prod.specifications}}</td> -->
                    <!-- <td>{{prod.color}}</td> -->
                    <td>{{prod.aqty}}</td>
                    <td>{{prod.price}}</td>
                    <td>{{prod.sale_price}}</td>
                    <td>
                        <div class="py-2">
                            <span *ngIf="prod.status == 0" class="badge badge-pill bg-light-info cursor-pointer">
                                Pending
                            </span>
                            <span *ngIf="prod.status == 1" class="badge badge-pill bg-light-warning cursor-pointer">
                                Active
                            </span>
                            <span *ngIf="prod.status == -1" class="badge badge-pill bg-light-danger cursor-pointer">
                                Rejected
                            </span>
                        </div>
                        <div class="py-2">
                            <span *ngIf="prod.visibility == 0" class="badge badge-pill bg-light-success cursor-pointer">
                                <i class="fa fa-eye"></i> Visible
                            </span>
                            <span *ngIf="prod.visibility == 1" class="badge badge-pill badge bg-light-secondary cursor-pointer">
                                <i class="fa fa-eye-slash"></i> Hidden
                            </span>
                        </div>
                    </td>
                    <td style="text-align: left;">
                        <span *ngIf="prod.status != 1" class="badge badge-success cursor-pointer mr-1 mb-1" (click)="changePendingStatus(prod, 1)">Approve</span>
                        <span *ngIf="prod.status != -1" class="badge badge-danger cursor-pointer" (click)="changePendingStatus(prod, -1)">Reject</span>
                    </td>
                </tr>
                <ngx-spinner></ngx-spinner>
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
    </div>