.alert-light-danger {
    background-color: #FEEFD0 !important;
    color: #F55252  !important;
    border-color: #FEEFD0;
  }
  
.supplierRegestration{
    background-image: url('../../../assets/img/backgrounds/sup_reg1.jpg');
}
