<div class="col-xl-12 col-lg-12 col-12">
<div class="card shopping-cart">
    <div class="card-header pb-2">
    <h4 class="card-title mb-1">Manage Your Products</h4>
    </div>
    <div class="card-content">
    <div class="card-body p-0">
        <div class="table-responsive">
        <table class="table text-center m-0">
            <thead>
            <tr>
                <th>Attachment</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Specifications</th>
                <th>Color</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prod of products">
                <td><img class="height-50" src="assets/img/elements/01.png" alt="Generic placeholder image" /></td>
                <td>{{prod.product_name}}</td>
                <td>{{prod.description}}</td>
                <td>{{prod.specifications}}</td>
                <td>{{prod.color}}</td>
                <td>{{prod.aqty}}</td>
                <td>{{prod.price}}</td>
                <td>
                    <span class="badge badge-pill bg-light-primary cursor-pointer">{{(prod.status == 0) ? 'Pending' : 'Active'}}</span>
                </td>
                <td>
                    <i class="ft-edit-2"></i>
                </td>
                <td>
                    <i class="ft-trash-2"></i>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>
</div>